.about__inner-bg {
  position: relative;
  z-index: -2;
}

.about__inner-img {
  filter: grayscale(100%);
  position: absolute;
  width: 100%;
  margin-top: -20%;
}

.about {
  margin-bottom: 53px;
  display: flex;
  position: relative;
}

.about::before {
  content: "";
  display: block;
  width: 489px;
  height: 505px;
  border-radius: 4px;
  background: url(../../img/home/about.jpg) center center / cover no-repeat;
}

.about__desc {
  background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
  padding: 70px 82px;
  max-width: 785px;
  min-height: 455px;
  margin-left: -142px;
  margin-top: 163px;
  border-radius: 4px;
}

.about__desc-text p {
  margin-bottom: 70px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}