.separator {
	background: #17191C;
	min-height: 363px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url(../../img/reviews/19629.png) right 18% bottom no-repeat;
}

.separator__content {
	max-width: 38%;
	margin-bottom: 35px;
}

.separator__title {
	font-weight: 700;
	font-size: 48px;
	color: #fff;
	line-height: 1.1;
}
